.pX0 {
  padding: var(--size-0);
}

.pX4 {
  padding: var(--size-4);
}

.pX8 {
  padding: var(--size-8);
}

.pX12 {
  padding: var(--size-12);
}

.pX16 {
  padding: var(--size-16);
}

.pX24 {
  padding: var(--size-24);
}

.pX32 {
  padding: var(--size-32);
}

.pX48 {
  padding: var(--size-48);
}

.pX64 {
  padding: var(--size-64);
}

.pX80 {
  padding: var(--size-80);
}

.pX96 {
  padding: var(--size-96);
}

.pX128 {
  padding: var(--size-128);
}

.phX0 {
  padding-inline: var(--size-0);
}

.phX4 {
  padding-inline: var(--size-4);
}

.phX8 {
  padding-inline: var(--size-8);
}

.phX12 {
  padding-inline: var(--size-12);
}

.phX16 {
  padding-inline: var(--size-16);
}

.phX24 {
  padding-inline: var(--size-24);
}

.phX32 {
  padding-inline: var(--size-32);
}

.phX48 {
  padding-inline: var(--size-48);
}

.phX64 {
  padding-inline: var(--size-64);
}

.phX80 {
  padding-inline: var(--size-80);
}

.phX96 {
  padding-inline: var(--size-96);
}

.phX128 {
  padding-inline: var(--size-128);
}

.pvX0 {
  padding-block: var(--size-0);
}

.pvX4 {
  padding-block: var(--size-4);
}

.pvX8 {
  padding-block: var(--size-8);
}

.pvX12 {
  padding-block: var(--size-12);
}

.pvX16 {
  padding-block: var(--size-16);
}

.pvX24 {
  padding-block: var(--size-24);
}

.pvX32 {
  padding-block: var(--size-32);
}

.pvX48 {
  padding-block: var(--size-48);
}

.pvX64 {
  padding-block: var(--size-64);
}

.pvX80 {
  padding-block: var(--size-80);
}

.pvX96 {
  padding-block: var(--size-96);
}

.pvX128 {
  padding-block: var(--size-128);
}
