.pX0 {
  padding: token('space.x0');
}

.pX4 {
  padding: token('space.x4');
}

.pX8 {
  padding: token('space.x8');
}

.pX12 {
  padding: token('space.x12');
}

.pX16 {
  padding: token('space.x16');
}

.pX24 {
  padding: token('space.x24');
}

.pX32 {
  padding: token('space.x32');
}

.pX48 {
  padding: token('space.x48');
}

.pX64 {
  padding: token('space.x64');
}

.pX80 {
  padding: token('space.x80');
}

.pX96 {
  padding: token('space.x96');
}

.pX128 {
  padding: token('space.x128');
}

.phX0 {
  padding-inline: token('space.x0');
}

.phX4 {
  padding-inline: token('space.x4');
}

.phX8 {
  padding-inline: token('space.x8');
}

.phX12 {
  padding-inline: token('space.x12');
}

.phX16 {
  padding-inline: token('space.x16');
}

.phX24 {
  padding-inline: token('space.x24');
}

.phX32 {
  padding-inline: token('space.x32');
}

.phX48 {
  padding-inline: token('space.x48');
}

.phX64 {
  padding-inline: token('space.x64');
}

.phX80 {
  padding-inline: token('space.x80');
}

.phX96 {
  padding-inline: token('space.x96');
}

.phX128 {
  padding-inline: token('space.x128');
}

.pvX0 {
  padding-block: token('space.x0');
}

.pvX4 {
  padding-block: token('space.x4');
}

.pvX8 {
  padding-block: token('space.x8');
}

.pvX12 {
  padding-block: token('space.x12');
}

.pvX16 {
  padding-block: token('space.x16');
}

.pvX24 {
  padding-block: token('space.x24');
}

.pvX32 {
  padding-block: token('space.x32');
}

.pvX48 {
  padding-block: token('space.x48');
}

.pvX64 {
  padding-block: token('space.x64');
}

.pvX80 {
  padding-block: token('space.x80');
}

.pvX96 {
  padding-block: token('space.x96');
}

.pvX128 {
  padding-block: token('space.x128');
}
