.root {
  font-size: var(--text-font-size, var(--font-size-body-md));
  font-weight: var(--font-weight-body);
  line-height: var(--line-height-body);
}

.variantHeading {
  font-weight: var(--font-weight-header);
  line-height: var(--line-height-header);
}

.root strong {
  font-weight: 700;
}

.root abbr {
  text-decoration: underline dotted;
}
