.root {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.alignCenter {
  align-items: center;
}

.alignEnd {
  align-items: end;
}

.gapX0 {
  gap: token('space.x0');
}

.gapX4 {
  gap: token('space.x4');
}

.gapX8 {
  gap: token('space.x8');
}

.gapX12 {
  gap: token('space.x12');
}

.gapX16 {
  gap: token('space.x16');
}

.gapX24 {
  gap: token('space.x24');
}

.gapX32 {
  gap: token('space.x32');
}

.gapX48 {
  gap: token('space.x48');
}

.gapX64 {
  gap: token('space.x64');
}

.gapX80 {
  gap: token('space.x80');
}

.gapX96 {
  gap: token('space.x96');
}

.gapX128 {
  gap: token('space.x128');
}
