.root {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.alignCenter {
  align-items: center;
}

.alignEnd {
  align-items: end;
}

.gapX0 {
  gap: token('size.x0');
}

.gapX4 {
  gap: token('size.x4');
}

.gapX8 {
  gap: token('size.x8');
}

.gapX12 {
  gap: token('size.x12');
}

.gapX16 {
  gap: token('size.x16');
}

.gapX24 {
  gap: token('size.x24');
}

.gapX32 {
  gap: token('size.x32');
}

.gapX48 {
  gap: token('size.x48');
}

.gapX64 {
  gap: token('size.x64');
}

.gapX80 {
  gap: token('size.x80');
}

.gapX96 {
  gap: token('size.x96');
}

.gapX128 {
  gap: token('size.x128');
}
