.root {
  width: 100%;
  margin-inline: auto;
}

.widthX128 {
  max-width: token('size.x128');
}

.widthX192 {
  max-width: token('size.x192');
}

.widthX256 {
  max-width: token('size.x256');
}

.widthX384 {
  max-width: token('size.x384');
}

.widthX512 {
  max-width: token('size.x512');
}

.widthX640 {
  max-width: token('size.x640');
}

.widthX768 {
  max-width: token('size.x768');
}

.widthX896 {
  max-width: token('size.x896');
}

.widthX1024 {
  max-width: token('size.x1024');
}

.widthX1152 {
  max-width: token('size.x1152');
}

.widthX1280 {
  max-width: token('size.x1280');
}

.widthX1408 {
  max-width: token('size.x1408');
}

.widthX1536 {
  max-width: token('size.x1536');
}

.widthX1664 {
  max-width: token('size.x1664');
}

.widthX1792 {
  max-width: token('size.x1792');
}

.widthX1920 {
  max-width: token('size.x1920');
}
