.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: token('size.x32');
  padding: token('size.x24');
  text-align: center;
  max-width: token('size.x640');
  margin: auto;
}

@media (width >= 32rem) {
  .root {
    padding: token('size.x48') token('size.x32');
    gap: token('size.x48');
  }
}

@media (width >= 48rem) {
  .root {
    padding: token('size.x64') token('size.x48');
    gap: token('size.x64');
  }
}

@media (width >= 64rem) {
  .root {
    padding: token('size.x80') token('size.x48');
    max-width: 100%;
  }
}
