.root strong {
  font-weight: 700;
}

.root abbr {
  text-decoration: underline dotted;
}

.body {
  font-weight: token('font.weight.body');
  line-height: token('lineHeight.body');
}

.heading {
  font-weight: token('font.weight.header');
  line-height: token('lineHeight.header');
}

.bodyXs {
  font-size: token('font.size.body.xs');
}

.bodySm {
  font-size: token('font.size.body.sm');
}

.bodyMd {
  font-size: token('font.size.body.md');
}

.bodyLg {
  font-size: token('font.size.body.lg');
}

.bodyXl {
  font-size: token('font.size.body.xl');
}

.headingXs {
  font-size: token('font.size.header.xs');
}

.headingSm {
  font-size: token('font.size.header.sm');
}

.headingMd {
  font-size: token('font.size.header.md');
}

.headingLg {
  font-size: token('font.size.header.lg');
}

.headingXl {
  font-size: token('font.size.header.xl');
}
