.root strong {
  font-weight: 700;
}

.root abbr {
  text-decoration: underline dotted;
}

.body {
  font-weight: token('body.weight');
  line-height: token('body.lineHeight');
}

.heading {
  font-weight: token('heading.weight');
  line-height: token('heading.lineHeight');
}

.bodyXs {
  font-size: token('body.size.xs');
}

.bodySm {
  font-size: token('body.size.sm');
}

.bodyMd {
  font-size: token('body.size.md');
}

.bodyLg {
  font-size: token('body.size.lg');
}

.bodyXl {
  font-size: token('body.size.xl');
}

.headingXs {
  font-size: token('heading.size.xs');
}

.headingSm {
  font-size: token('heading.size.sm');
}

.headingMd {
  font-size: token('heading.size.md');
}

.headingLg {
  font-size: token('heading.size.lg');
}

.headingXl {
  font-size: token('heading.size.xl');
}
