@import 'the-new-css-reset';
@import '../../generated/tokens/tokens.css';

* {
  box-sizing: border-box;
}

html {
  line-height: token('lineHeight.body');
  tab-size: 4;
  font-family: token('font.family.base');
  font-size: token('font.size.base');
  background-color: token('bg.base');
  color: token('content.default');
}

body {
  padding: 0;
  margin: 0;
  line-height: inherit;
}

a {
  text-decoration: underline;
}
