.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
  corner-shape: superellipse(1.35);
  overflow: hidden;
  padding: var(--size-32);
  background-color: var(--bg-low);
  aspect-ratio: 1;
}

.paddingNone {
  padding: var(--size-0);
}
