.root {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
  corner-shape: superellipse(1.35);
  overflow: hidden;
  padding: var(--size-32);
  color: var(--card-color, var(--content-default));
  background-color: var(--card-background-color, var(--bg-low));
  background-image: var(--card-background-image, none);
  background-size: cover;
  aspect-ratio: var(--card-ratio, 2 / 1);
}

.root[data-padding='none'] {
  padding: var(--size-0);
}

.image {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  z-index: 1;
}
