.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size-96);
  height: var(--size-96);
  background-color: var(--content-default);
  fill: var(--bg-mid);
  border-radius: var(--size-96);
  transition: all 0.3s ease;
}

.link svg {
  width: var(--size-48);
  height: var(--size-48);
}

.link:hover {
  transform: scale(1.1);
  background-color: var(--content-hover);
}

.link:active {
  transform: scale(1.2);
  background-color: var(--content-pressed);
}
