.root {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--stack-gap, var(--size-16));
}

.root[data-align='center'] {
  align-items: center;
}

.root[data-align='end'] {
  align-items: end;
}
